* {
    overflow: hidden !important;
}

.lit {
    background-color: black;
}

.myfont {
    color: rgb(49, 107, 119);
    font-style: italic;
}

.hey {
    color: rgb(185, 183, 183);
}

.hi {
    color: rgb(136, 98, 48);
    font-size: 18px;
}

.arrows {
    position: absolute;
    top: -1%;
    left: 2%;
    transform: translate(-50%, -50%);
    transform: rotate(90deg);
    cursor: pointer;
}

.arrows span {
    display: block;
    width: 1.2vw;
    height: 1.2vw;
    border-bottom: 5px solid rgb(234, 227, 227);
    border-right: 5px solid rgb(234, 227, 227);
    transform: rotate(45deg);
    margin: 10px;
    animation: animate 2s infinite;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-5px, -5px);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        /* transform: rotate(45deg) translate(20px, 20px); */
    }
}